# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Compiled binaries (без розширення на Linux/macOS)
web/echo/echo
web/net-http/net-http
web/chi/chi
fundamentals/01-basics/01-basics
fundamentals/02-control-flow/02-control-flow
fundamentals/03-functions/03-functions
fundamentals/04-types/04-types
fundamentals/05-concurrency/05-concurrency
fundamentals/06-errors/06-errors
fundamentals/07-stdlib/07-stdlib

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
